.grid {
  position: relative;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  grid-gap: 5px;
  width: 320px;
  height: 320px;
  touch-action: none;
  background: hsl(0, 0%, 25%);
  border: 10px solid hsl(0, 0%, 25%);
  border-radius: 5px;
  animation: fadeInDown .35s cubic-bezier(0.18, 0.89, 0.32, 1.28);

  .piece {
    position: relative;
    display: flex;
    border-radius: 50%;

    .score {
      margin: auto;
      font-size: 8px;
      font-family: system-ui, sans-serif;
      color: #fff;
    }
  }

  .type-1 {
    color: var(--color-malachite);
    background: currentColor;
  }

  .type-2 {
    color: var(--color-sunshade);
    background: currentColor;
  }

  .type-3 {
    color: var(--color-cinnabar);
    background: currentColor;
  }

  .type-4 {
    color: var(--color-cerulean);
    background: currentColor;
  }

  .type-5 {
    color: var(--color-wisteria);
    background: currentColor;
  }

  .active {
    &:after {
      content: "";
      border-radius: 50%;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      animation: pulsate 1s ease-out;
      animation-iteration-count: infinite;
      opacity: 0;
      box-shadow: 0 0 1px 2px currentColor;
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}