.grid {
  position: relative;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
  grid-gap: 10px;
  width: 300px;
  height: 300px;
  touch-action: none;
  background: hsl(0, 0%, 25%);
  border: 10px solid hsl(0, 0%, 25%);
  border-radius: 5px;

  .piece {
    position: relative;
    display: flex;
    border-radius: 50%;

    .score {
      margin: auto;
      font-size: 8px;
      color: #fff;
    }
  }

  .type-1 {
    color: #E74C3E;
    background: currentColor;
  }

  .type-2 {
    color: #13C73C;
    background: currentColor;
  }

  .type-3 {
    color: #22D8EE;
    background: currentColor;
  }

  .type-4 {
    color: #FEA029;
    background: currentColor;
  }

  .type-5 {
    color: #9B57B5;
    background: currentColor;
  }

  .active {
    &:after {
      content: "";
      border-radius: 50%;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      animation: pulsate 1s ease-out;
      animation-iteration-count: infinite;
      opacity: 0;
      box-shadow: 0 0 1px 2px currentColor;
    }
  }

  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    background: transparent;
    transition: background-color .4s;
  }

  &.locked::after {
    background: hsla(0, 0%, 0%, 0);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
