.logo {
  user-select: none;
  touch-action: none;
  font-family: 'Amatic', sans-serif;

  .m, .a, .t, .c, .h, .three {
    text-shadow: 2px 2px 20px currentColor;
  }

  .m {
    color: var(--color-malachite);
  }

  .a {
    color: var(--color-sunshade);
    animation: blinky 10s infinite;
  }

  .t {
    color: var(--color-cinnabar);
  }
  .c {

    color: var(--color-cerulean);
  }

  .h {
    color: var(--color-wisteria);
  }

  .three {
    color: var(--color-cinnabar);
  }
}

@-webkit-keyframes blinky {
  39%, 45%, 47% {
    color: #111;
    text-shadow: none
  }

  26%, 38%, 40%, 44%, 46%, 48% {
    color: #faf37e;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 25px #ffa500, 0 0 35px #f00, 0 0 50px #f00, 0 0 65px #f00, 0 0 100px #f00
  }
}