.settings {
  display: grid;
  grid-row-gap: 2em;
  margin: 2em auto 0;

  .list {
    display: grid;
    grid-row-gap: .5em;
  }

  .title {
    line-height: 2em;
  }

  .btn-group {
    display: flex;

    button {
      flex: 1;

      &:not(:last-child) {
        border-right: none;
      }
    }

    .active {
      color: #fff;
      background-color: var(--color-cerulean);
      border-color: var(--color-cerulean);
    }
  }

  .buttons {

  }
}