body {
    color: #fff;
    background-color: hsl(0, 0%, 15%);
}

button {
    background: none;
    color: var(--color-cerulean);
    text-transform: uppercase;
    padding: .5em;
    border: 1px solid currentColor;
    outline: none;
}

button:active {
    background: var(--color-cerulean);;
    color: #fff;
    border: 1px solid var(--color-cerulean);;
}