body {
    font-family: system-ui, sans-serif;;
    font-size: 16px;
    color: #fff;
    background-color: hsl(0, 0%, 15%);
}

button {
    margin: 0;
    background: none;
    color: var(--color-cerulean);
    font-size: .8em;
    font-family: inherit;
    text-transform: uppercase;
    padding: 1em;
    border: 1px solid currentColor;
    outline: none;
    user-select: none;
}

button:active {
    background: var(--color-cerulean);;
    color: #fff;
    border: 1px solid var(--color-cerulean);;
}

h1 {
    color: var(--color-cerulean);
    margin: 0 auto;
    font-size: 4em;
    font-family: 'Amatic SC', sans-serif;
}

p {
    margin: 1em 0;
}