body {
    font-family: system-ui, sans-serif;;
    font-size: 16px;
    color: #fff;
    background-color: hsl(0, 0%, 15%);
}

button {
    background: none;
    color: var(--color-cerulean);
    font-size: .8em;
    font-family: inherit;
    text-transform: uppercase;
    padding: 1em;
    border: 1px solid currentColor;
    outline: none;
    user-select: none;
}

button:active {
    background: var(--color-cerulean);;
    color: #fff;
    border: 1px solid var(--color-cerulean);;
}